<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <body
    class="clean-body"
    style="
      -webkit-text-size-adjust: 100%;
      background-color: #fff;
      line-height: inherit;
      margin: 0;
      padding: 0;
    "
  >
    <p>Estimada/o {{.username}}</p>

    <p>Se ha identificado que uno o más campos de su postulación requieren cambios, por favor: </p><!--Debe ser variable postulación y renovación, depende del caso-->

    <p>
      Debe actualizar los datos o volver a subir los archivos según corresponda para continuar con el proceso en "Mis postulaciones".
    </p>

    <p>Saludos.</p>
    <p>Equipo Usach Gestión.</p>
    
    <p>Este correo es sólo informativo, por favor no responder.</p>
  </body>
</html>
