<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <body
    class="clean-body"
    style="
      -webkit-text-size-adjust: 100%;
      background-color: #fff;
      line-height: inherit;
      margin: 0;
      padding: 0;
    "
  >
    <p>Estimado (a):</p>

    <p>Junto con saludar, le informamos que se recibió su formulario para {{.formname}}</p>

    <p>
      La información y documentación enviada, pasará a revisión y evaluación, según los requisitos establecidos en la reglamentación vigente.
    </p>

    <p>
      En caso de falta de documentación o no cumplimiento de requisitos se le notificara a través de su correo institucional.
    </p>

    <p>Atentamente.</p>
    <p>Departamento de Beneficios Estudiantiles.</p>

    <p>Este correo es sólo informativo, por favor no responder.</p>
  </body>
</html>
