<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<body class="clean-body"
    style="-webkit-text-size-adjust:100%;background-color:#FFF;line-height:inherit;margin:0;padding:0">

    <p>Estimada/o {{.username}}</p>

    <p> Has sido inscrito en la plataforma Usach Gestión como un profesional a cargo del área {{.section}}. </p>
    
    <p>
        Para ingresar a la cuenta debes acceder al siguiente link {{.panelUrl}} y utilizar tu correo con la contraseña adjunta. Al entrar por primera vez se te solicitará cambiar la contraseña por seguridad .
    </p>
    <p>
        Saludos.
        
    </p>
            <p>
             <strong>Contraseña: {{.code}}</strong>
            </p>
    <p>

       Equipo Usach Gestión.
    </p>
    
    <p>Este correo es sólo informativo, por favor no responder.</p>
</body>

</html>