<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<body class="clean-body"
    style="-webkit-text-size-adjust:100%;background-color:#FFF;line-height:inherit;margin:0;padding:0">

    <p>Estimado/a {{.username}}</p>

    <p>Si solicitaste un restablecimiento de contraseña para tu cuenta en Usach Gestión, usa el código de confirmación que aparece a continuación para completar el proceso. </p>
    <p>
     <strong>{{.code}}</strong>
    </p>

    <p>
        Si no solicitaste esto, puedes ignorar este correo electrónico.
    </p>
    <p>
        Saludos.

    </p>
    <p>

       Equipo Usach Gestión.
    </p>

    <p>Este correo es sólo informativo, por favor no responder.</p>
</body>

</html>