<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <body
    class="clean-body"
    style="
      -webkit-text-size-adjust: 100%;
      background-color: #fff;
      line-height: inherit;
      margin: 0;
      padding: 0;
    "
  >
    <p>Estimado/a {{.username}}</p>

    <p>Se te ha asignado un nuevo reporte en la plataforma Usach Gestión</p>

    <p>
      Puedes acceder a la plataforma a través del siguiente link: {{.panelUrl}}
    </p>

    <p>Saludos.</p>
    <p>Equipo Usach Gestión.</p>

    <p>Este correo es sólo informativo, por favor no responder.</p>
  </body>
</html>
